@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section content{
    <link href="~/Content/site/home_style.css" rel="stylesheet" />
}

<header>
    <div class="title">
        <h1><i class="wi wi-day-fog"></i>&nbsp; Weather Application</h1>
        <p>The easiest way to find out the weather!</p>
        <p>&nbsp; Scroll for more!&nbsp;&nbsp;<i class="fa fa-arrows-v"></i></p>
    </div>
</header>

<main>
    <h2>Information about <i>Weather app</i>:</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis
        voluptas ab quibusdam ratione rerum tempore
        voluptatibus libero cumque dignissimos vero hic!
    </p>
</main>
