@model IEnumerable<CityStatisticViewModel>
@section content{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<div class="container" id="">
    <h1 id="historyHeader">
        <i class="fa fa-2x fa-history"></i>History of user's requests (by city)
    </h1>
    <div class="col-lg-7">
        <table class="table table-bordered table-hover" id="historyTable">
            <thead>
                <tr class="success">
                    <td><b>City</b><br /></td>
                    <td><b>Count of requests</b><br /></td>
                    <td><b>Date of last search</b><br /></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var cityHistory in Model)
                {
                    <tr>
                        <td>
                            @cityHistory.City
                        </td>
                        <td>
                            @cityHistory.CountOfRequests
                        </td>
                        <td>
                            @cityHistory.LastDateOfSearch
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/history.js"></script>
}

