#customCityGroup, #daysCountCityGroup, #descriptionForm, #cityNameForm {
    margin-top: 10px;
}

#weatherSbmt, #addCity, #alertBoxForError {
    margin-top: 20px;
}

#forecastHeader {
    margin-left: 50px;
}


#backToFilter {
    text-align: center;
}

#filterContainer, #forecastContainer {
    margin-top: 50px;
}

#weatherNowDiv {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    border: 0.5px solid #73AD21;
    padding: 10px;
    padding: 10px 40px;
    border-radius: 15px 50px;
    box-shadow: 10px 10px grey;
}

#errorDiv {
    margin-top: 15px;
}

#weatherNowTmp {
    margin-top: 10px;
    margin-bottom: 20px;
}

#settings {
    margin-top: 50px;
}

#description {
    resize: vertical;
}

#addedCity {
    display: none;
    color: green;
    margin-left: 100px;
}
#tableWithCity {
    margin-top:5px;
}
/*---------- Page Navigation ----------*/
.page-navigation a {
    margin: 0 2px;
    display: inline-block;
    padding: 3px 10px;
    color: #ffffff;
    background-color: #70b7ec;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

    .page-navigation a[data-selected] {
        background-color: #3d9be0;
    }

/*---------- Page Navigation ----------*/
